html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 80px;
    padding: 15px 0 15px;
    background-color: #3B3B3B;
}
.main{
    display: flex;
    padding: 30px;
    flex: 1 1 auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__bar{
    display: flex;
}

.menu__list{
    display: flex;
    list-style: none;
}

.menu__list-item{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}

.nav__bar-img{
    width: 54px;
    height: 54px;
    margin-left: -150px;
    margin-top: 10px;
    justify-content: start;
}

.menu__list-link{
    color: #FFF;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 350px;
    background-color: #3B3B3B;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    height: 550px;
    margin: 50px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card:hover{
    margin-top: 50px;
    border: 2px solid red;
}

.main__card-img{
    margin-left: 50px;
}

.main__card-title{
    margin-top: 110px;
    margin-left: 100px;
}

.main__card-text{
    font-size: 14px;
    margin-top: -15px;
    margin-left: 50px;
}
.main__card-title-price{
    font-size: 24px;
    margin: -10px;
    margin-top: 30px;
    margin-left: 110px;
    padding: -20px;
}

.main__card-button{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-left: 70px;
    color: #FFF;
    border-radius: 10px;
    background-color: #FF0000;
}

.container__img-logo{
    margin-top: 20px;
    margin-left: -1000px;
}

.content__footer{
    display: flex;
    flex-direction: column;
    margin-left: 700px;
}

.content__footer-title{
    margin-top: 20px;
    margin-left: -820px;
}

.content__footer-text{
    margin-left: -820px;
}

.content__footer-img{
    margin-top: 90px;
    margin-left: -820px;
}

.content_footer-title1{
    margin-top: -200px;
    margin-left: -600px;
}

.content__footer-text1{
    margin-left: -600px;
}

.content__footer-title2{
    margin-top: -100px;
    margin-left: -300px;
}

.content__footer-client{
    margin-left: -470px;
}

.container__footer-title3{
    margin-top: -240px;
}

.content__footer-client1{
    margin-left: -170px;
}

.container__footer-title4{
    margin-left: 400px;
    margin-top: -130px;
}

.container__footer-client2{
    margin-left: 230px;
}

#slider{
    position: relative;
    text-align: center;
    top: 10px;
}

@media (max-width: 1024px) {
    .header {
        width: 100%;
        height: 100px;
        padding: 5px 0;
    }
    
    .nav__bar-img {
        width: 64px;
        height: 64px;
        margin-top: 15px;
        margin-left: -50px;
    }
    
    .menu__list-item {
      font-size: 34px;
      padding-right: 150px;
      margin-left: 10px;
      margin-right: 5px;
      margin-top: 15px;
    }

    .card{
        display: block;
        margin-left: 65px;
    }
    
    .card:hover{
        margin-top: 10px;
        border: 2px solid red;
    }

    .container__img-logo{
        margin-top: 20px;
        margin-left: -800px;
    }
    .content__footer-title{
        margin-left: -720px;
    }

    .content__footer-text{
        margin-left: -720px;
        font-size: 18px;
    }
    
    .content__footer-img{
        margin-top: 80px;
        margin-left: -720px;
    }
    .content_footer-title1{
        margin-top: -200px;
        margin-left: -500px;
    }
    
    .content__footer-text1{
        margin-left: -500px;
    }
    
    .content__footer-title2{
        margin-top: -100px;
        margin-left: -300px;
    }
    
    .content__footer-client{
        margin-left: -470px;
    }

    .main__card-title{
        margin-top: 80px;
        font-size: 18px;
    }
    .main__card-text{
        font-size: 18px;
    }
}

@media (max-width: 414px) {
    .header {
        width: 100%;
        height: 40px;
        padding: 5px 0;
    }
      
    .nav__bar-img {
        width: 34px;
        height: 34px;
        margin-top: 3px;
        margin-left: -60px;
    }
      
    .menu__list-item {
        font-size: 14px;
        padding-right: 15px;
        margin-left: 10px;
        margin-right: 3px;
        margin-top: -5px;
    }

    .card{
        display: block;
        margin-left: 0;
    }

    .card:hover{
        margin-top: 10px;
        border: 2px solid red;
    }

    .container__img-logo{
        width: 64px;
        height: 64px;
        margin-top: 20px;
        margin-left: -300px;
    }

    .content__footer-img{
        margin-top: 40px;
        margin-left: -480px;
    }

    .content__footer-text{
        margin-left: -480px;
        font-size: 18px;
    }

    .content_footer-title1{
        visibility: hidden;
    }
    .content__footer-text1{
        visibility: hidden;
    }
}